{:builds
 {:test-ns {:ns-regexp "app.*-spec$"
            :output-to "out/test-ns.js"
            :target :node-test}
  :test-main-require {:main app.test-runner-require/main
                      :output-to "out/test-main-require.js"
                      :target :node-test}
  :test-main-copy {:main app.test-runner-copy/main
                   :output-to "out/test-main-copy.js"
                   :target :node-test}}
 :dependencies []
 :nrepl {:port 3333}
 :source-paths ["src"]}